# Database Configuration
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

# Collector Configuration
COLLECTION_INTERVAL=1m

# Add Watch Configuration (only used by add_watch command)
CARD_NAME=Ash Blossom & Joyous Spring

